**/*.jpg binary
**/*.jpg filter=lfs diff=lfs merge=lfs -text
**/*.png binary
**/*.png filter=lfs diff=lfs merge=lfs -text
**/*.gif binary
**/*.gif filter=lfs diff=lfs merge=lfs -text
**/*.mp4 binary
**/*.mp4 filter=lfs diff=lfs merge=lfs -text
