node_modules
out
build
dist
pro
*.tsbuildinfo
.rollup.cache
*.vsix
.idea
.DS_Store
.svelte-kit
.turbo
.pnpm-debug.log
yarn-debug.log
yarn-error.log
__failures__
_tmp_*
*_screenshot_*.png
!*_screenshot_linux.png
