# See https://pnpm.io/npmrc#public-hoist-pattern
# If we kept the default, then @types/react would conflict with vue types for JSX definitions.
public-hoist-pattern=[]
hoist-pattern[]="@babel/*"
hoist-pattern[]="@storybook/builder-vite"
hoist-pattern[]="@storybook/preact-vite"
hoist-pattern[]="@storybook/svelte-vite"
hoist-pattern[]="@vue/compiler-core"
hoist-pattern[]="core-js"
hoist-pattern[]="react-is"
hoist-pattern[]="rxjs"
hoist-pattern[]="semver"
hoist-pattern[]="ts-dedent"
hoist-pattern[]="vscode-languageserver-textdocument"
# https://github.com/vitest-dev/vitest/issues/899
hoist-pattern[]="vite"

strict-peer-dependencies=false
auto-install-peers=true
link-workspace-packages=true
