name: Test IntelliJ plugin

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
    paths:
      - "integrations/intellij/**"
      - ".github/workflows/tests-intellij.yaml"
  pull_request:
    branches:
      - "*"
    paths:
      - "integrations/intellij/**"
      - ".github/workflows/tests-intellij.yaml"

jobs:
  intellij-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [18.x]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "11"
      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - uses: pnpm/action-setup@v2.2.2
        with:
          run_install: true
      - run: pnpm turbo run build --scope="@previewjs/loader" --include-dependencies --no-deps
      - run: cd integrations/intellij/controller && pnpm build
      - run: cd integrations/intellij && ./gradlew ktlintCheck
      - run: cd integrations/intellij && ./gradlew runPluginVerifier
      - run: cd integrations/intellij && ./gradlew buildPlugin
