name: Test Preview.js core components

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
    paths:
      - "**"
      - "!assets/**"
      - "!cli/**"
      - "!integrations/**"
  pull_request:
    branches:
      - "*"
    paths:
      - "**"
      - "!assets/**"
      - "!cli/**"
      - "!integrations/**"

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [12.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.24.4
          run_install: true
      # - run: yarn licenses-check
      - run: pnpm turbo run build --scope="@previewjs/app" --include-dependencies
      - run: pnpm turbo run test
      - name: Update screenshots on non-main branches
        run: |
          if [ -z "$(git status --porcelain)" ]; then
            echo "No changes detected."
          else
            git add app/tests/__screenshots__
            git stash
            git config --global user.name 'CI bot'
            git config --global user.email 'fwouts@users.noreply.github.com'
            git fetch
            git checkout ${{ github.head_ref }}
            git pull
            git stash pop
            git commit -am "bot: update screenshots"
            git push origin ${{ github.head_ref }}
          fi
        if: ${{ github.ref != 'refs/heads/main' }}
        shell: bash
      - name: Fail if screenshots have changed on main branch
        run: git diff --exit-code
        if: ${{ github.ref == 'refs/heads/main' }}
