name: Build tests

concurrency:
  group: tests-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  tests:
    timeout-minutes: 45
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [14.x]
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          java-version: "17"
      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.24.4
          run_install: true
      # - run: yarn licenses-check
      - run: pnpm turbo run build --scope="@previewjs/app" --include-dependencies
      - run: cd core && pnpm test
      - run: cd frameworks/react && pnpm test
      - run: cd app && pnpm lint && pnpm test
      - run: cd integrations/vscode && yarn --frozen-lockfile && yarn build
      - run: cd integrations/intellij && cd controller && pnpm build && cd .. && ./gradlew buildPlugin
